.mainHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Inter', sans-serif;
	margin-bottom: 26px;
	background-color: #FFFFFF;
}

.mainHeader__h1 {
	margin: 16px 22px;
	font-size: 18px;
	line-height: 28px;
}

.mainHeader__link {
	text-decoration: none;
	font-weight: normal;
}

.mainHeader__link:visited {
	color: #000000;
}

.mainHeader__link:hover {
	color: #2b97fc;
}

.mainHeader__btnGroup {
	margin: 16px 22px;
}

.mainHeader__btn {
	display: inline-block;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 28px;
	border: none;
	background-color: white;
	margin-left: 27px;
	cursor: pointer;
}

.mainHeader__btn_bordered {
	box-sizing: border-box;
	padding: 10px 19px;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
}

.mainHeader__btn_bordered:hover {
	border-color: #2b97fc;
}

.mainHeader__btn_bordered:visited:hover {
	color: #2b97fc;
}

.mainHeader__btn_little {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 22px;
}

.mainHeader__btn_green {
	color: #52C41A;
	border: 1px solid #52C41A;
}

.mainHeader__btn_green:visited {
	color: #52C41A;
}

.mainHeader__userAvatar {
	margin-left: 13px;
}
