.articlesList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.spinner {
	display: block;
	margin-bottom: 26px;
}

.paginationWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
}
